/* purgecss start ignore */
@import "leaflet/dist/leaflet.css";
/* purgecss end ignore */

@tailwind base;
@tailwind components;

body {
	@apply antialiased bg-martinique-500 font-sans
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.crr--body-bg {
	@apply bg-white;
	background-image: url("~assets/img/main-bg-alpha.svg");
	background-repeat: repeat;
	background-size: 198px 110px;
	background-attachment: fixed;
}

.crr--card {
	@apply bg-melrose-900 rounded-sm w-full p-6 pb-8 shadow shadow-lg text-center;
	background-image: url("~assets/img/card-bg.svg");
	background-repeat: repeat;
	background-size: 99px 55px;
	background-attachment: fixed;
	background-blend-mode: difference;
}

.crr--card:nth-of-type(2) {
	@apply my-6;
}

.crr--h-screen-minus-header {
	min-height: calc(100vh - 8rem);
}

.crr--w-screen-1-3-map {
	width: calc(100vw / 3);
}

@screen md {
	.crr--card:nth-of-type(2) {
		@apply mx-6 my-0;
	}
}

@tailwind utilities;
