/* purgecss start ignore */
@import "leaflet/dist/leaflet.css";
/* purgecss end ignore */

@tailwind base;
@tailwind components;

body {
	@apply antialiased font-sans;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

footer {
	background-image: url('~assets/img/footer-bg.png');
	background-repeat: repeat-x;
	/*box-shadow: inset 0 30px 60px rgba(30, 30, 50, 0.5);*/
	background-position: bottom;
	background-attachment: fixed;
	background-size: 2049px 141px;
}

.crr--card {
	@apply bg-melrose-900 rounded-sm w-full p-6 pt-0 pb-8 shadow shadow-lg text-center;
	background-image: url("~assets/img/card-bg.svg");
	background-repeat: repeat;
	background-size: 99px 55px;
	background-attachment: fixed;
	background-blend-mode: difference;
}

.crr--card:nth-of-type(2) {
	@apply my-6;
}

.crr--h-screen-minus-header {
	@apply bg-white;
	background-image: url("~assets/img/main-bg-alpha.svg");
	background-repeat: repeat;
	background-size: 198px 110px;
	background-attachment: fixed;
	min-height: calc(100vh - 8rem);
	background-color: #fff;
	position: relative;
	z-index: 20;
}

.crr--w-screen-1-3-map {
	width: calc(100vw / 3);
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

@screen md {
	.crr--card:nth-of-type(2) {
		@apply mx-6 my-0;
	}
}

@tailwind utilities;
